<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.microblog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.microblog.LoginActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name="com.example.microblog.NewMicroblogActicity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.microblog.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.microblog.HomePageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.microblog.PersonalCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.microblog.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name="com.example.microblog.RepostActivity"
            android:label="@string/title_activity_repost" >
        </activity>
        <activity
            android:name="com.example.microblog.ModifyPwdActivity"
            android:label="@string/title_activity_repost" >
        </activity>
        <activity
            android:name="com.example.microblog.ModifyMicroblog"
            android:label="@string/title_activity_modify_microblog" >
        </activity>
        <activity
            android:name="com.example.microblog.ShowCommentActivity"
            android:label="@string/title_activity_show_comment" >
        </activity>
        <activity
            android:name="com.example.microblog.FriendsSearchActivity"
            android:label="@string/title_activity_friends_search" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
